:root{
  --main-red: #f00b0b;
}

body{
  padding-bottom: 20px;
}


.main{
  width: 400px !important;
  margin: 2em !important;
  margin-bottom: 0 !important;
  border-left: 1em solid var(--main-red);
  width: 40px;
  margin: 2em;
}

.mainInvertido{
  width: 400px !important;
  margin: 2em !important;
  margin-bottom: 0 !important;
  border-right: 1em solid var(--main-red);
  width: 40px;
  margin: 2em;
}

.medio{
  background-color: black;
  color: white;
  margin-bottom: 0 !important;
}

.mainMiddle{
  font-size: x-small;
  padding-right: 7em;
  padding-left: 7em;
}


.logoMedio{
  margin-top: 10px;
  margin-bottom: 10px;
}

.textoMedio{
  padding-top: 6px;
}

.superior{
  background-color: var(--main-red);
}

.logoSuperior{
  color: white;
}


.containerRows{
  background-color: #cfcece;
}

.numeroLinea{
  background-color: #ffffff;
  border: black 3px solid;
  font-weight: 800;
  font-size: 1.1em;
  padding-top: .12em;
  padding-bottom: .12em;
  margin-top: .1em;
}

.descripcionLineas{
  line-height: 0.9em;
  font-size: .67em;
  font-weight: 800;
}


.fila{
  border-bottom: #f00b0b 4px solid !important;
}

